<center>
  <h1>Introducción a Python</h1>
  <h2>I302 - Aprendizaje Automático y Aprendizaje Profundo</h2>
  <h4>Universidad de San Andrés </h4>
</center>

Python es un lenguaje elegante y moderno para programación y resolución de problemas que ha encontrado un uso cada vez mayor por de científicos. En las siguientes celdas demostraremos algunas funciones básicas de Python.

## Variables
Python tiene diferentes tipos de variables. Cuando se crea una variable, no es necesario declararla.

In [1]:
entero = 3
var_float = 3.1
complex_num = 3 + 1j
string = "Soy un string"
booleano = True
lista = [0, 1, 3]
tupla = (0, 1, 3)
set = {0, 1, 3}
diccionario = {"a": 0, "b": 1}

print(f"La variable entero es igual a {entero} y es de tipo {type(entero)}" )
print(f"La variable var_float es igual a {var_float} y es de tipo {type(var_float)}" )
print(f"La variable string es igual a {string} y es de tipo {type(string)}" )
print(f"La variable booleano es igual a {booleano} y es de tipo {type(booleano)}" )
print(f"La variable lista es igual a {lista} y es de tipo {type(lista)}" )
print(f"La variable tupla es igual a {tupla} y es de tipo {type(tupla)}" )
print(f"La variable set es igual a {set} y es de tipo {type(set)}" )
print(f"La variable diccionario es igual a {diccionario} y es de tipo {type(diccionario)}" )

La variable entero es igual a 3 y es de tipo <class 'int'>
La variable var_float es igual a 3.1 y es de tipo <class 'float'>
La variable string es igual a Soy un string y es de tipo <class 'str'>
La variable booleano es igual a True y es de tipo <class 'bool'>
La variable lista es igual a [0, 1, 3] y es de tipo <class 'list'>
La variable tupla es igual a (0, 1, 3) y es de tipo <class 'tuple'>
La variable set es igual a {0, 1, 3} y es de tipo <class 'set'>
La variable diccionario es igual a {'a': 0, 'b': 1} y es de tipo <class 'dict'>

## Operaciones aritméticas básicas
Las operaciones aritméticas básicas están integradas en Python. Aquí hay unos ejemplos. En particular, tenga en cuenta que la exponenciación se realiza con el operador `**`.

In [2]:
a = 20
b = 4

print("Suma:", a + b)
print("Exponente:", a**b)
print("Division:", a/b)

Suma: 24
Exponente: 160000
Division: 5.0

## Operadores de comparación

Si queremos comparar variables, podemos usar operadores de comparación:

In [3]:
a = 24
b = 2
c = True
d = 0
e = None

print("a > b?", a > b)
print("a < b?", a < b)
print("a == b?", a == b)
print("a != b?", a != b)

# Si comparamos True con variables que son 0 o None, será False, pero otra cosa es True.
# Para este tipo de comparaciones es mejor usar el operador "is"
print("c is d?", c is d)
print("c is e?", c is e)
print("c is True?", c is True)
print("a is True?", a is True)
print("d is True?", d is True)

a > b? True
a < b? False
a == b? False
a != b? True
c is d? False
c is e? False
c is True? True
a is True? False
d is True? False

## Operador de asignación
Python nos da opciones de asignación aparte de `=`

In [4]:
a = 12
b = 2
print(f"La variable a es: {a}")

# Sumamos a + b y guardamos en a
a += b
print(f"La variable a es: {a}")

# Restamos a - b y guardamos en a
a -= b
print(f"La variable a es {a}")

# Dividimos a / b y guardamos en a
a /= b
print(f"La variable a es: {a}")

# Multplicamos a * b y guardamos en a
a *= b
print(f"La variable a es: {a}")

# Calculamos el exponente a ** b y guardamos en a
a **= b
print(f"La variable a es: {a}")

La variable a es: 12
La variable a es: 14
La variable a es 12
La variable a es: 6.0
La variable a es: 12.0
La variable a es: 144.0

## Librerias de Python

Python sólo tiene operaciones básicas. La mayoría de las funciones matemáticas se encuentran en varias bibliotecas matemáticas. La libreria **math** es una biblioteca conveniente. La siguiente celda muestra cómo importar math y luego usarlo para llamar a funciones matemáticas comunes.

Nota: En esta asignatura no vamos a usar `math`, sino a `numpy` que nos provee similares funcionalidades matemáticas y más avanzadas. En otro notebook, vemos a esa libreria en particular.

In [5]:
import math

# Constantes matemáticas
print(math.pi)
print(math.e)

# Funciones trigonométricas
angle = math.pi/4
print(math.sin(angle))
print(math.cos(angle))
print(math.tan(angle))

3.141592653589793
2.718281828459045
0.7071067811865475
0.7071067811865476
0.9999999999999999

Esto nos permite introducir la función `help()` para leer la documentacion de diferentes funciones

In [6]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [7]:
help(math.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

## Trabajando con listas

Las listas son una forma versátil de organizar datos en Python

In [8]:
List_x = [1, 2, 3, 4]
List_x # Mismo que hacer print(List_x)

[1, 2, 3, 4]

Concatenar es la operación de unir una lista con otra

In [9]:
# Concatenación
x = [1, 2, 3, 4]
y = [5, 6, 7, 8]

x + y

[1, 2, 3, 4, 5, 6, 7, 8]

Vemos la cantidad de elementos en una lista

In [10]:
len(x)

4

Los listas se pueden hacer cortes para obtener sub listas

In [11]:
x = [1, 2, 3, 4, "b"]

print(f"El primer elemento de la lista es {x[0]} y el anteultimo es {x[-2]}")
print(f"Podemos sacar sublistas tal como:")
print(x[:2]) # Desde el elemento 0 hasta el 2 (no inclusive)
print(f"Tambien usando indices negativos:")
print(x[-3:]) # Desde el elemento -3 (en este caso, indice 2) hasta el final de la lista

El primer elemento de la lista es 1 y el anteultimo es 4
Podemos sacar sublistas tal como:
[1, 2]
Tambien usando indices negativos:
[3, 4, 'b']

## Trabajando con diccionarios

Los diccionarios son útiles para almacenar y recuperar datos como pares `key-value`. Por ejemplo, aca tenemos un breve diccionario de masas molares. Las `keys` son fórmulas moleculares y los valores son las masas molares correspondientes:

In [12]:
mw = {'CH4': 16.04,
      'H2O': 18.02,
      'O2':32.00,
      'CO2': 44.01}
mw

{'CH4': 16.04, 'H2O': 18.02, 'O2': 32.0, 'CO2': 44.01}

Se puede agregar valores al diccionario

In [13]:
mw['C8H18'] = 114.23
mw

{'CH4': 16.04, 'H2O': 18.02, 'O2': 32.0, 'CO2': 44.01, 'C8H18': 114.23}

Se puede obtener valores del diccionario

In [14]:
mw['CH4']

16.04

## Strings

Python nos da una variedad enorme de operaciones de strings

In [15]:
name = "Trinidad"
surname = "Monreal"

print(name + surname) # Retorna "TrinidadMonreal"
print(name * 2) # Retorna "TrinidadTrinidad"

TrinidadMonreal
TrinidadTrinidad

Tenemos igual que las listas, formas de hacer slicing de los strings

In [16]:
nombre_completo = name + " " + surname
print(nombre_completo[0])
print(nombre_completo[0:9])
print(nombre_completo[:9])
print(nombre_completo[10:17])
print(nombre_completo[10:])
print(nombre_completo[-7:])

T
Trinidad
Trinidad
onreal
onreal
Monreal

Los strings tienen una amplia variedad de métodos y atributos

In [17]:
print(nombre_completo.isupper()) # Retorna False
print(nombre_completo.upper()) # Retorna TRINIDAD MONREAL
print(nombre_completo.lower()) # Retorna trinidad monreal
print(nombre_completo.startswith("Trinidad")) # Retorna True

False
TRINIDAD MONREAL
trinidad monreal
True

## Declaraciones de control

En Python tenemos como declaración de control a `if`:

In [18]:
num = 10
if num > 3:
    print("Epaa!")

Epaa!

In [19]:
if 3 < num < 24:
    print("Epa!")

Epa!

In [20]:
if num > 3 and (num < 5 or b == 2):
    print("Epaa")

Epaa

In [21]:
if 3 < num < 5 or b == 2:
    print("Epaa")

Epaa

In [22]:
if num > 3:
    print("num es mayor a 3")
else:
    print("num es menor o igual a 3")

num es mayor a 3

In [23]:
if num > 3:
    print("num es mayor a 3")
    if num < 5:
        print("num es menor a 5")
else:
    print("num es menor o igual a 3")
    if num > 1:
        print("num es mayor a 1")

num es mayor a 3

In [24]:
if num == 3:
    print("num es 3")
elif num == 5:
    print("num es 5")
elif num == 42:
    print("num es 42")
else:
    print("num no es 3, 5 ni 42")

num no es 3, 5 ni 42

## Bucles

Por un lado tenemos el bucle `while`:

In [25]:
nivel = 0
while nivel <= 9000:
    if not(nivel % 1000):
        print("Aumentando el nivel")
    nivel += 1

print("Supero 9000!")

Aumentando el nivel
Aumentando el nivel
Aumentando el nivel
Aumentando el nivel
Aumentando el nivel
Aumentando el nivel
Aumentando el nivel
Aumentando el nivel
Aumentando el nivel
Aumentando el nivel
Supero 9000!

Aunque el ciclo `for` es el más utilizado en Python por su capacidad de trabajar con iterables

In [26]:
producto = 1
for value in range(1, 11):
    producto *= value

print(producto)

3628800

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(2, 6, 2): # Desde 2 hasta 6 no inclusive de a pasos de a 2
    print(i)

2
4

In [29]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

Usando los iterables, podemos hacer que el ciclo pase por todos los elementos

In [30]:
lista = [0, "martin", 3.14]
for elemento in lista:
    print(elemento)

0
martin
3.14

Cuando tomamos un elemento para el ciclo, si hacemos un asignamiento, no modifica el valor:

In [31]:
lista = [0, 1, 2]
for elemento in lista:
    elemento = 3

print(lista)

[0, 1, 2]

Para hacer modificaciones, tenemos que usar directamente a la lista

In [32]:
lista = [0, 1, 2]
for i in range(len(lista)):
    lista[i] = 3

print(lista)

[3, 3, 3]

In [33]:
string = "Hola, mundo"
for char in string:
    print(char)

H
o
l
a
,

m
u
n
d
o

In [34]:
diccionario = {
    "nombre": "Robbie",
    "apellido": "Bunge",
    "pais": "Argentina"
}

for key in diccionario:
    print(f"El par es: {key}: {diccionario[key]}")

El par es: nombre: Robbie
El par es: apellido: Bunge
El par es: pais: Argentina

## Declaración de funciones

Armemos la funcion que implementa el numero combinatorio

$$ C(m,n) = \frac{m!}{(m-n)! n!} $$

Donde n! es el producto de los numeros enteros de 1 a n:

$$ n! = 1 \cdot 2 \cdot 3 \cdot ... \cdot (n-1) \cdot n = \prod_{i=1}^{n} i  $$

In [35]:
def factorial(n):
    """
    Calcula el factorial de n -> Docstring
    """
    if n < 2:
        return 1
    output = 1
    for i in range(2, n+1):
        output *= i

    return output

def num_com(n, m):
    """
    Calcula el número combinatorio de n y m
    Args:
    n: Es la cantidad de objetos a seleccionar del conjunto total
    m: Es la cantidad total de objetos
    """

    return int(factorial(m) / (factorial(n)* factorial(m-n)))

El comentario multilinea usando `"""` al principio de la función nos permite documentar nuestras funciones

In [36]:
help(factorial)

Help on function factorial in module __main__:

factorial(n)
    Calcula el factorial de n -> Docstring

In [37]:
help(num_com)

Help on function num_com in module __main__:

num_com(n, m)
    Calcula el número combinatorio de n y m
    Args:
    n: Es la cantidad de objetos a seleccionar del conjunto total
    m: Es la cantidad total de objetos

In [38]:
print(f"El factorial de 1 es {factorial(1)}")
print(f"El factorial de 2 es {factorial(2)}")
print(f"El factorial de 5 es {factorial(5)}")
print(f"El factorial de 10 es {factorial(10)}")

El factorial de 1 es 1
El factorial de 2 es 2
El factorial de 5 es 120
El factorial de 10 es 3628800

In [39]:
print(f"El numero combinatorio de tomar 3 objetos de 5 objetos es {num_com(3, 5)} combinaciones")

El numero combinatorio de tomar 3 objetos de 5 objetos es 10 combinaciones

Las variables que están dentro de las funciones existen solamente dentro de las funciones

In [40]:
a = 3

def print_a():
    a = 5
    print(a)

print("Por dentro de la funcion 'a' vale")
print_a()
print("Y por fuera es")
print(a)

Por dentro de la funcion 'a' vale
5
Y por fuera es
3

Salvo que usemos la keyword `global`

In [41]:
def print_c():
    global c
    c = 5
    print(c)

print("Por dentro de la funcion 'c' vale")
print_c()
print("Y por fuera es")
print(c)

Por dentro de la funcion 'c' vale
5
Y por fuera es
5

Una función anónima es una función sin nombre. En Python, se crea una función anónima con la palabra clave `lambda`

In [42]:
sum_one = lambda x : x + 1
print(sum_one(10))

11

In [43]:
print((lambda x, y : x + y)(2, 4))

6

In [44]:
conditional = lambda x : x if not(x % 2) else -1
print(conditional(3))

-1

## List comprehension

Las List comprehension son herramientas de Python más avanzadas. Un usuario avanzado puede aprovecharlas para realizar loops de forma mas rapida e eficiente

In [45]:
even_squared = [x**2 for x in range(20) if not(x%2)]

In [46]:
print(even_squared)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

## Generators

Tambien tenemos generadores, que nos evita guardar todo en memoria RAM, sino que cada vez que se llama, consumir el siguiente valor del ciclo hasta que se termine el ciclo entero. Es decir, pagamos más procesamiento para ahorrar RAM:

In [47]:
iterable_1 = (x for x in range(10))

In [48]:
print(next(iterable_1))
print(next(iterable_1))
print(next(iterable_1))

0
1
2

In [49]:
for value in iterable_1:
    print(value)

3
4
5
6
7
8
9

In [50]:
#Una vez que se consumio todo, da error
print(next(iterable_1))

StopIteration: